header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    padding: 40px;
    h2 {
      color: black;
    }
  }

  .nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
  }
  .nav a{
    text-decoration: none;
    color: white;
    border-radius: 0.3em;
  }
  .nav{
    font-weight: 700;
    text-decoration: none;
  }


  
  main {
    width: 100%;
  }
  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #865d36;
    color: white;
}
.Hintergrund {
  background-color: #f0f0f0; 
  padding: 20px; 
}
.top-picture img {
  display: block; 
  margin-bottom: 10px; 
}
/* top */
#top{background-color:#987554;
    height: 1000px;
    width: 100%;
    padding: 5%;
    margin: 0;
}
.top-picture img{
  width: 30%;
  height: 30%;
  right: 10%;
  opacity: 0.7;
  
}
.top-picture{
  position: absolute;
  display: block;
}

/* middle */
#middle{background-color:#d2b48c;
    height: 500px;
    width: 100%;
    padding: 200px;
    margin: 0;
    h1{
      font-size: 50px;
      color: black;
    }
}


.middle-picture{
  position: absolute;
  display: flex;
  width: 50%;
  height: 50%;
  right: 1%;
  top: 170%;
  
  
}
/* bottom */
#bottom{background-color: #e5d3b3;
    height: 500px;
    width: 100%;
    padding: 200px;
    margin: 0;
}
.bottom-picture{
  position: absolute;
  display: flex;
  width: 50%;
  height: 50%;

}

h1{
    font-family:'Times New Roman', Times, serif;

}