header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 20%;
    align-items: center;
    padding: 1.5%;
    background-color: #664229;
    margin:0;
    h2 {
      color: black;
    }
  }
  *{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  .nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
  }
  .nav a{
    text-decoration: none;
    color: white;
    border-radius: 0.3em;
  }
  .nav{
    font-weight: 700;
    text-decoration: none;
  }
  #s2, #s3{
    width: 100%;
    height: 100%;}
  #s2{
    background-color: #ba9976;
    display: flex;
    flex-direction: row;
    background-color:#d2b48c;
      height: 500px;
      width: 100%;
      padding: 200px;
      margin: 0;
      h1{
        font-size: 50px;
        color: black;
      }
    }
    #s3{
      background-color: #ba9976;
      display: flex;
      flex-direction: row;
      background-color:#d2b48c;
        height: 500px;
        width: 100%;
        padding: 200px;
        margin: 0;
        h1{
          font-size: 50px;
          color: black;
        }
      }
.me50 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.me50 h1 {
  font-size:5vh;
}
.me50 img {
  height: 400%;
}
.me50 img #s3 {
  height: 200%;
}
.me50 p {
  color: black;
  margin: 10%;
  font-size: 200%;
}

footer{
  width:100%;
  display: flex;
  justify-content: center;
}

body {

  background-color: #865d36;
  color: rgba(255, 255, 255, 0.85);
}