body {
    background-color:lightblue;
  }
  header {
    background-color:brown;
    color: white;
    text-align: center;
    padding: 1em;
}
img {
    height: 400px;
}
nav {
  background-color: brown;
  color: white;
  padding: 0.5em;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  margin-right: 10px;
}
article {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}


